<!DOCTYPE html>
<html>
<head>
    {% block stylesheets %}
        <link rel="stylesheet" href={{ asset('bundles/app/css/style.css') }} type="text/css"/>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
    <title>{% block title %}AdoptADoc{% endblock %}</title>
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href={{ path('app_homepage') }} class="navbar-brand">AdoptADoc</a>
        </div>

        <nav class="collapse navbar-collapse" role="navigation">

            <ul class="nav navbar-nav">


                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    <li>
                        <a href={{ path('app_newAd') }}>Create announce</a>
                    </li>
                    <li style="padding-bottom: 15px; padding-top: 15px">Logged in as: {{ app.user.username }} |</li>
                    <li><a href="{{ path('fos_user_security_logout') }}">
                            Logout
                        </a></li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}">Create account</a>
                    </li>
                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'log in'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    </div>
</nav>

<div id="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-5">

            </div>
        </div>
    </div><!--/container-->
</div><!--/masthead-->

<!--main-->
<div class="container">
    <div class="row" style="margin-left: 256px">
        <!--left-->
        <div class="col-md-3" id="leftCol">
            <h1>
                Account
            </h1>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% if app.user.image != null %}
                    <div class="roundedImage">
                        <img style="height: 80px; width: 80px" src="{{ asset(app.user.image.webPath) }}" alt="1" class="img-circle"/>
                    </div>
                {% endif %}
                <ul class="nav nav-stacked" id="sidebar">
                    <li class="category">{{ app.user.username }}</li>
                    <li class="category">{{ app.user.location }}</li>
                    <li class="category">{{ app.user.speciality }}</li>
                </ul>
            {% else %}
                <p>You are not logged in! If you want to create an Ad you must have an account. If you d'ont have one
                    yet
                    <a style="color: orange" href="{{ path('fos_user_registration_register') }}">create
                        one</a>, otherwise <a style="color: orange"
                                              href="{{ path('fos_user_security_login') }}">login</a>
                </p>
            {% endif %}
        </div>
        <div class="col-md-9">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>